*{
   box-sizing: border-box; /*el ancho de los elementos incluye el ancho del borde*/
   margin: 0;
   padding: 0;  
}
body {
  background: #a7b9d3;
  font-family: 'Lato', sans-serif;
}
.head {
  width: 100%;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: -10px;
  z-index: 10;
  background-color: #a7b9d3;
}
.banner {
    width: 100%;
    background-image: linear-gradient(to bottom,  #cc322a, #cc322a,  #d01a1a, #d01a1a, #8d0000, #a11818, #b44a4a);
    padding-bottom: 0.7em;
    padding-top: 0.5em;
    text-align: center;
    border-radius: 35px 35px 0 0;
    display: block;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.35);
    position: fixed;
    
  }
.poke-icon,img{
    width: 3em;                                
    height: 3em;
    margin-top: 0.5em;
}
.banner h1 {
    color: #ffcb05;
    -webkit-text-stroke: 0.15rem #2a75bb;
    text-shadow: #202021 -0.2rem 0.1rem 0;
    letter-spacing: 0.5rem;
    font-family: 'Pokemon Solid', sans-serif;
    }
.menu {
  background-color: #e6d596;
  padding: 0.5em;
  position:fixed;
  width: 100%;
  top: 7em;
  
}
      
.menu form {
  display: flex;
  justify-content: space-between;
  
}
.menu select { 
  display: flex;
  font-family: 'Londrina Solid', cursive;
  font-size: 1em;
  padding: 0.5em;
  border: 0.1 rem solid #ccc;
  
}
     
.grass{
    
    background: linear-gradient(to bottom right, rgb(120,200,80), 30%, rgb(210, 245, 154));
}
.fire{
    background: linear-gradient(to bottom right,	rgb(240,80,48), 30%, 	rgb(255, 131, 106));
}
.water{
    background: linear-gradient(to bottom right,	rgb(56,153,248), 30%, rgb(122, 185, 248));
}
.bug{
    background: linear-gradient(to bottom right,	rgb(168,184,32), 30%, 	rgb(242, 255, 122));
}
.normal{
    background: linear-gradient(to bottom right,	rgb(168,160,144), 30%, 	rgb(201, 197, 190));
}
.electric{
    background: linear-gradient(to bottom right,	rgb(250, 209, 46), 30%, 	rgb(250, 226, 129));
}
.ground{
    background: linear-gradient(to bottom right,	rgb(235, 206, 134), 30%, rgb(255, 227, 155));
}
.poison{
    background: linear-gradient(to bottom right,	rgb(176,88,160), 30%, 	rgb(226, 111, 205));
}
.fighting{
    background: linear-gradient(to bottom right,	rgb(160,80,56), 30%, 	rgb(224, 107, 72));
}
.psychic{
    background: linear-gradient(to bottom right,	rgb(248,112,160), 30%,	rgb(255, 160, 193));
}
.rock{
    background: linear-gradient(to bottom right,	rgb(168, 147, 83), 30%, 	rgb(187, 169, 114));
}
.ice{
    background: linear-gradient(to bottom right,	rgb(88,200,224), 30%, 	rgb(106, 228, 255)
    );
}
.dragon{
    background: linear-gradient(to bottom right,	rgb(96, 75, 216), 30%, rgb(123, 101, 247)
    );
}
.dark{
    background: linear-gradient(to bottom right,	rgb(117, 100, 114), 30%, 	rgb(134, 131, 134));
}
.ghost{
    background: linear-gradient(to bottom right,	rgb(96, 101, 170), 30%, 	rgb(149, 149, 238));
}
.steel{
    background: linear-gradient(to bottom right,	rgb(168,168,192), 30%, rgb(202, 202, 221));
}
.fligth{
    background: linear-gradient(to bottom right, rgb(152,168,240), 30%, 	rgb(196, 207, 255));
}
.fairy{
    background: linear-gradient(to bottom right,	rgb(240, 152, 240), 30%, 	rgb(255, 196, 250));
}

    p{
        color: black;
        size: 1em;
        font-family: 'Staatliches';
        text-align: center;
    }
    label{
        color: black;
        size: 0.5 em;
        font-family: 'Staatliches';
        text-align: center;
    }

    h2{
    font-family: 'Staatliches', cursive;
    color: #cc322a;
    position: absolute;
    top: 15rem;
    left: 35%;
    }

    .mostrar-pokemon{
    width: 94%;
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: space-around;
    position: absolute;
    background-color: white;
    margin-top: 14.5em;
    margin-left: 3%;
  
    }

    .mostrar-pokemon img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 0.5 rem;
    
    }
    .pokemon-card{
    opacity: 1;
    transform: matrix(1,0,0,1,0,0);
    border-radius: 1rem;
    border: 0.5em solid #0000007b;
    margin-left: 1rem;
    margin: 0.5rem;
    width: 150px;
    margin-bottom: 2em;
    
    }
   
    footer {
      text-align: center;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin-top: 1 rem;
      color: #fff;
      font-size: 1em;
      background-image: linear-gradient(to bottom,  #d01a1a, #d01a1a,  #d01a1a, #d01a1a, #8d0000, #a11818, #b44a4a);
      border-radius: 0 0 20px 20px;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.35);
      top: 95%;
      width: 100%;
      position:fixed;
    }

@media screen and (max-width: 768px) {
  
  .menu form {
    
    flex-direction: column;
  }

  .mostrar-pokemon {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin-top: 22em;
  
  }
  h2{
    top: 48%;
    left: 7%;
    }
    .menu select { 
        width: fit-content;
        padding-right: 3rem;
        
      }
    .menu option{
        width: 100%;
    }


}